@media ((max-width: 1000px) and (max-height: 1200px)) {
  .container {
    position: relative;
    flex-grow: 1;
    height: 100vh;
    overflow: hidden;
    margin: 0;
  }

  .toolkit {
    top: 50%;
    bottom: 50%;
    height: fit-content;
    position: absolute;
    background-color: black;
    z-index: 100;
    transform: scale(0.7);
  }

  .board {
    transform: scale(1.5);
    overflow: hidden;
  }
}