/* Prevent ghost images */
.noselect {
  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
  -webkit-user-drag: none !important;
  -khtml-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

/* 
  Body
  =======
*/
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.canvas {
  flex: 2;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
}

/* 
  Board 
  =======  
*/
.board {
  display: flex;
  width: auto;
  margin: auto;
  background-color: darkslategray;
  touch-action: none;
}

.column {
  display: flex;
  flex-direction: column;
  flex: 0;
}

.tile {
  max-width: 10px;
  max-height: 10px;
  min-width: 8px;
  min-height: 8px;
  background-color: darkslategray;
}

/* 
  Toolkit 
  ========
*/
.toolkit {
  padding: 5px;
  margin: auto 10px;
  background-color: lightcoral;
  border-radius: 3px;
}

.toolkit > .wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.toolkit button {
  width: 40px;
  height: 40px;
  border: 3px solid darkslategray;
  border-radius: 4px;
}

.toolkit button.eraser {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.colors {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

button.color {
  background-color: var(--selected-color);
}
